@model Ship
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <h2>Kargo Firması Güncelleme</h2>

    @using (Html.BeginForm("Update", "Ship", FormMethod.Post))
    {
        <label class="form-group">Firma Adı:</label>
        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        <label class="form-group">Telefon Numarası:</label>
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        <button type="submit" class="btn-success">Ekle</button>
    }
</div>
