USE [TrendyolECommerceProject]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[RegionToID] [uniqueidentifier] NULL,
	[DistrictID] [uniqueidentifier] NULL,
	[RoadID] [uniqueidentifier] NULL,
	[StreetID] [uniqueidentifier] NULL,
	[BuildID] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SurName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[EmailAddress] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[BirthDate] [date] NULL,
	[IsAdministrator] [bit] NULL,
	[IsPageAdmin] [bit] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[AppUser_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BrandCategories]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[Brand_ID] [uniqueidentifier] NULL,
	[Category_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.BrandCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brands]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](60) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Builds]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Builds](
	[ID] [uniqueidentifier] NOT NULL,
	[StreetID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Builds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Campaings]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaings](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[Discount] [real] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[AppUser_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Campaings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](60) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Colors]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductColour] [nvarchar](max) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[MemberComment] [nvarchar](500) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[SurName] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districs]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districs](
	[ID] [uniqueidentifier] NOT NULL,
	[RegionToID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[PostalCode] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Districs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImagePaths]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagePaths](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[ProductImage] [nvarchar](60) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ImagePaths] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[MemberMessage] [nvarchar](1000) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[OrderID] [uniqueidentifier] NULL,
	[Price] [money] NULL,
	[Quantity] [smallint] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[OrderDate] [date] NULL,
	[RequiredDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[ShipID] [uniqueidentifier] NULL,
	[Freight] [money] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SurName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[EmailAddress] [nvarchar](50) NOT NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[RegionToID] [uniqueidentifier] NULL,
	[DistrictID] [uniqueidentifier] NULL,
	[RoadID] [uniqueidentifier] NULL,
	[StreetID] [uniqueidentifier] NULL,
	[BuildID] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[UnitInStock] [smallint] NULL,
	[Description] [nvarchar](max) NULL,
	[ProductID] [uniqueidentifier] NULL,
	[SizeToID] [uniqueidentifier] NULL,
	[ColourID] [uniqueidentifier] NULL,
	[CampaingID] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Point] [int] NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[SubCategoryID] [uniqueidentifier] NULL,
	[ThirdCategoryID] [uniqueidentifier] NULL,
	[BrandID] [uniqueidentifier] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regions]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Regions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roads]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roads](
	[ID] [uniqueidentifier] NOT NULL,
	[DistrictID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ID] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Shippers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[Quantity] [smallint] NULL,
	[PicImage] [nvarchar](max) NULL,
	[ProductColour] [nvarchar](max) NULL,
	[ProductSize] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ProductDetailID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductSize] [nvarchar](max) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sizes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Streets]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[ID] [uniqueidentifier] NOT NULL,
	[RoadID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Streets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[SubCategoryName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](60) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThirdCategories]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThirdCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[SubCategoryID] [uniqueidentifier] NULL,
	[ThirdCategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](60) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ThirdCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WishLists]    Script Date: 14.6.2019 19:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishLists](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[ProductName] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[ImagePath] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WishLists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AppUsers] ([ID], [Name], [SurName], [UserName], [Password], [EmailAddress], [Phone], [BirthDate], [IsAdministrator], [IsPageAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUser_ID]) VALUES (N'43834439-e882-e911-8267-7c7a91ce4f31', N'Adem', N'Fidan', N'admin', N'1212', N'adm@hotmail.com', N'5444323232', CAST(N'1995-06-14' AS Date), 0, 1, 5, CAST(N'2019-05-30T17:35:52.613' AS DateTime), N'::1', CAST(N'2019-06-05T12:20:15.790' AS DateTime), N'::1', NULL)
INSERT [dbo].[AppUsers] ([ID], [Name], [SurName], [UserName], [Password], [EmailAddress], [Phone], [BirthDate], [IsAdministrator], [IsPageAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUser_ID]) VALUES (N'e6528c35-ea82-e911-8267-7c7a91ce4f31', N'Ahmet', N'Toprak', N'toprak', N'123', N'ahmet123@gmail.com', N'1112311213', CAST(N'2005-11-30' AS Date), 1, 0, 5, CAST(N'2019-05-30T17:50:05.380' AS DateTime), N'::1', CAST(N'2019-05-30T17:53:20.417' AS DateTime), N'::1', NULL)
INSERT [dbo].[AppUsers] ([ID], [Name], [SurName], [UserName], [Password], [EmailAddress], [Phone], [BirthDate], [IsAdministrator], [IsPageAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUser_ID]) VALUES (N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'Ayşe', N'Türk', N'ays', N'123', N'ays@hotmail.com', N'5444323232', CAST(N'1983-02-01' AS Date), 0, 0, 1, CAST(N'2019-05-30T17:51:05.133' AS DateTime), N'::1', NULL, NULL, NULL)
INSERT [dbo].[Brands] ([ID], [Name], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c2335786-eb82-e911-8267-7c7a91ce4f31', N'IPHONE', NULL, NULL, 1, CAST(N'2019-05-30T17:59:30.413' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Brands] ([ID], [Name], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'49fcdd8e-eb82-e911-8267-7c7a91ce4f31', N'NOKİA', NULL, NULL, 1, CAST(N'2019-05-30T17:59:44.733' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Brands] ([ID], [Name], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0675de95-eb82-e911-8267-7c7a91ce4f31', N'NİKE', NULL, NULL, 1, CAST(N'2019-05-30T17:59:56.480' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'GİYİM', N'Tekstil Ürünleri', N'Categories/5eeec4fe_1bd8_4420_9267_672f7f45b24d.jpeg', 1, CAST(N'2019-05-30T16:08:34.943' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0ffa46ee-dc82-e911-8267-7c7a91ce4f31', N'ELEKTRONİK', N'Elektronik ürünler', N'Categories/1c33c1c7_d96a_40b1_bd35_dc99c0757b01.jpeg', 1, CAST(N'2019-05-30T16:15:02.350' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'8cc92969-dd82-e911-8267-7c7a91ce4f31', N'AYAKKABI', N'Ayakkabı', N'Categories/7b5c2b4d_53e0_4751_b447_1e4af65a4985.jpeg', 1, CAST(N'2019-05-30T16:18:28.520' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Colors] ([ID], [ProductColour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd78df29d-ec82-e911-8267-7c7a91ce4f31', N'Mavi', 1, CAST(N'2019-05-30T18:07:19.523' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Colors] ([ID], [ProductColour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd88df29d-ec82-e911-8267-7c7a91ce4f31', N'Yeşil', 1, CAST(N'2019-05-30T18:07:22.503' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Colors] ([ID], [ProductColour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd98df29d-ec82-e911-8267-7c7a91ce4f31', N'Sarı', 1, CAST(N'2019-05-30T18:07:26.060' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Comments] ([ID], [AppUserID], [ProductID], [MemberComment], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5bc30fab-8288-e911-8267-7c7a91ce4f31', N'e6528c35-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'Başarılı...', 3, CAST(N'2019-06-06T20:44:01.843' AS DateTime), N'::1', CAST(N'2019-06-08T16:54:35.873' AS DateTime), N'::1')
INSERT [dbo].[Comments] ([ID], [AppUserID], [ProductID], [MemberComment], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'a045a449-8388-e911-8267-7c7a91ce4f31', N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'Tırt', 1, CAST(N'2019-06-06T20:48:27.900' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Comments] ([ID], [AppUserID], [ProductID], [MemberComment], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'69ac4cbd-8388-e911-8267-7c7a91ce4f31', N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'ilk kayıtda hata Veriyor?????', 3, CAST(N'2019-06-06T20:51:41.943' AS DateTime), N'::1', CAST(N'2019-06-08T16:53:00.247' AS DateTime), N'::1')
INSERT [dbo].[Customers] ([ID], [Name], [SurName], [Phone], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'4e9148c5-6f87-e911-8267-7c7a91ce4f31', NULL, NULL, NULL, NULL, 1, CAST(N'2019-06-05T11:56:14.233' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Customers] ([ID], [Name], [SurName], [Phone], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'bb439ba9-148e-e911-8267-7c7a91ce4f31', N'Ayhan', N'Boztepe', N'5352343434', N'mhmt@gmail.com', 1, CAST(N'2019-06-13T22:51:41.730' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Customers] ([ID], [Name], [SurName], [Phone], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'6084c62f-158e-e911-8267-7c7a91ce4f31', N'Ahmet', N'Fidan', N'4344343434', N'ahmet123@gmail.com', 1, CAST(N'2019-06-13T22:55:26.840' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Districs] ([ID], [RegionToID], [Name], [PostalCode], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'da2e4406-7a88-e911-8267-7c7a91ce4f31', N'36827dd8-7988-e911-8267-7c7a91ce4f31', N'KAYIŞDAĞI', NULL, 1, CAST(N'2019-06-06T19:42:09.390' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Districs] ([ID], [RegionToID], [Name], [PostalCode], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'db2e4406-7a88-e911-8267-7c7a91ce4f31', N'36827dd8-7988-e911-8267-7c7a91ce4f31', N'İNÖNÜ', NULL, 1, CAST(N'2019-06-06T19:42:14.677' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ImagePaths] ([ID], [ProductID], [ProductImage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'7e4d49fc-ec82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'ImagePath/1da5eef0_42a7_4b0a_85b5_37ce1c16d773.jpeg', 1, CAST(N'2019-05-30T18:09:57.797' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ImagePaths] ([ID], [ProductID], [ProductImage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c4f87703-ed82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'ImagePath/92e6679d_da91_4230_95b8_fb259a74c136.jpeg', 1, CAST(N'2019-05-30T18:10:09.853' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ImagePaths] ([ID], [ProductID], [ProductImage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'47a0567e-c78a-e911-8267-7c7a91ce4f31', N'3acd9c5f-c78a-e911-8267-7c7a91ce4f31', N'ImagePath/9e9ab08e_36da_43f9_8475_a50fb536e15e.jpeg', 1, CAST(N'2019-06-09T18:01:44.417' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Messages] ([ID], [AppUserID], [MemberMessage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [EmailAddress]) VALUES (N'511e03be-b88e-e911-8267-7c7a91ce4f31', NULL, N'tedarikçi olmak istiyorum', 1, CAST(N'2019-06-14T18:26:13.410' AS DateTime), N'::1', NULL, NULL, N'mhmt@gmail.com')
INSERT [dbo].[Messages] ([ID], [AppUserID], [MemberMessage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [EmailAddress]) VALUES (N'913eace4-b88e-e911-8267-7c7a91ce4f31', NULL, N'Nasıl ürün satabilirim sitede?', 1, CAST(N'2019-06-14T18:27:18.310' AS DateTime), N'::1', NULL, NULL, N'ayhn@hotmail.com')
INSERT [dbo].[Messages] ([ID], [AppUserID], [MemberMessage], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [EmailAddress]) VALUES (N'9664c928-b98e-e911-8267-7c7a91ce4f31', NULL, N'Yorumlarımı görüntüleyemiyorum', 1, CAST(N'2019-06-14T18:29:12.587' AS DateTime), N'::1', NULL, NULL, N'ays@hotmail.com')
INSERT [dbo].[OrderDetails] ([ID], [AppUserID], [ProductID], [OrderID], [Price], [Quantity], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'a9b6e056-7c88-e911-8267-7c7a91ce4f31', N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'f95b1c25-7c88-e911-8267-7c7a91ce4f31', 12000.0000, 3, 1, CAST(N'2019-06-06T19:58:43.630' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[OrderDetails] ([ID], [AppUserID], [ProductID], [OrderID], [Price], [Quantity], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'29631934-8188-e911-8267-7c7a91ce4f31', N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'fc0c6c18-8188-e911-8267-7c7a91ce4f31', 8000.0000, 2, 1, CAST(N'2019-06-06T20:33:32.767' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[OrderDetails] ([ID], [AppUserID], [ProductID], [OrderID], [Price], [Quantity], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'6284c62f-158e-e911-8267-7c7a91ce4f31', NULL, N'3acd9c5f-c78a-e911-8267-7c7a91ce4f31', N'6184c62f-158e-e911-8267-7c7a91ce4f31', 1000.0000, 1, 1, CAST(N'2019-06-13T22:55:26.907' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductDetails] ([ID], [UnitInStock], [Description], [ProductID], [SizeToID], [ColourID], [CampaingID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'7b587113-b983-e911-8267-7c7a91ce4f31', 1, NULL, N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'277b3e40-ec82-e911-8267-7c7a91ce4f31', N'05f034a9-ec82-e911-8267-7c7a91ce4f31', NULL, 5, CAST(N'2019-05-31T18:30:53.973' AS DateTime), N'::1', CAST(N'2019-06-13T22:51:41.863' AS DateTime), N'::1')
INSERT [dbo].[ProductDetails] ([ID], [UnitInStock], [Description], [ProductID], [SizeToID], [ColourID], [CampaingID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'036e0921-b983-e911-8267-7c7a91ce4f31', 2, NULL, N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'277b3e40-ec82-e911-8267-7c7a91ce4f31', N'd78df29d-ec82-e911-8267-7c7a91ce4f31', NULL, 5, CAST(N'2019-05-31T18:31:16.797' AS DateTime), N'::1', CAST(N'2019-06-08T21:14:07.270' AS DateTime), N'::1')
INSERT [dbo].[ProductDetails] ([ID], [UnitInStock], [Description], [ProductID], [SizeToID], [ColourID], [CampaingID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'37d84866-c78a-e911-8267-7c7a91ce4f31', 0, NULL, N'3acd9c5f-c78a-e911-8267-7c7a91ce4f31', N'4957bb00-ec82-e911-8267-7c7a91ce4f31', N'd78df29d-ec82-e911-8267-7c7a91ce4f31', NULL, 5, CAST(N'2019-06-09T18:01:04.060' AS DateTime), N'::1', CAST(N'2019-06-13T23:01:49.790' AS DateTime), N'::1')
INSERT [dbo].[Products] ([ID], [AppUserID], [ProductName], [UnitPrice], [Point], [CategoryID], [SubCategoryID], [ThirdCategoryID], [BrandID], [Description], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'3acd9c5f-c78a-e911-8267-7c7a91ce4f31', N'e6528c35-ea82-e911-8267-7c7a91ce4f31', N'Jean Ceket', 1000.0000, 1, N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'2635b657-e082-e911-8267-7c7a91ce4f31', NULL, N'0675de95-eb82-e911-8267-7c7a91ce4f31', NULL, 3, CAST(N'2019-06-09T18:00:52.730' AS DateTime), N'::1', CAST(N'2019-06-13T23:03:05.840' AS DateTime), N'::1')
INSERT [dbo].[Products] ([ID], [AppUserID], [ProductName], [UnitPrice], [Point], [CategoryID], [SubCategoryID], [ThirdCategoryID], [BrandID], [Description], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c165586b-238e-e911-8267-7c7a91ce4f31', N'ab33d0e4-208e-e911-8267-7c7a91ce4f31', N'Kadife Ceket', 88.0000, 0, N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'2635b657-e082-e911-8267-7c7a91ce4f31', NULL, N'98f7ec51-238e-e911-8267-7c7a91ce4f31', NULL, 1, CAST(N'2019-06-14T00:37:19.733' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Provinces] ([ID], [Name], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'fcd9ef9a-7988-e911-8267-7c7a91ce4f31', N'İSTANBUL', 1, CAST(N'2019-06-06T19:39:09.320' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Provinces] ([ID], [Name], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'fdd9ef9a-7988-e911-8267-7c7a91ce4f31', N'ANKARA', 1, CAST(N'2019-06-06T19:39:16.910' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Regions] ([ID], [ProvinceID], [Name], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'35827dd8-7988-e911-8267-7c7a91ce4f31', N'fcd9ef9a-7988-e911-8267-7c7a91ce4f31', N'KADIKÖY', 1, CAST(N'2019-06-06T19:40:52.593' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Regions] ([ID], [ProvinceID], [Name], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'36827dd8-7988-e911-8267-7c7a91ce4f31', N'fcd9ef9a-7988-e911-8267-7c7a91ce4f31', N'ATAŞEHİR', 1, CAST(N'2019-06-06T19:40:59.303' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Regions] ([ID], [ProvinceID], [Name], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ad9fd9e1-7988-e911-8267-7c7a91ce4f31', N'fcd9ef9a-7988-e911-8267-7c7a91ce4f31', N'ÜMRANİYE', 5, CAST(N'2019-06-06T19:41:08.303' AS DateTime), N'::1', CAST(N'2019-06-06T19:41:22.173' AS DateTime), N'::1')
INSERT [dbo].[Shippers] ([ID], [CompanyName], [Phone], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5b9fce25-7387-e911-8267-7c7a91ce4f31', N'Aras', NULL, 1, CAST(N'2019-06-05T12:20:24.670' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ShoppingCarts] ([ID], [AppUserID], [ProductID], [Name], [Price], [Quantity], [PicImage], [ProductColour], [ProductSize], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [ProductDetailID]) VALUES (N'df98dd8f-b983-e911-8267-7c7a91ce4f31', N'e9aa2959-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'IPHONE 7', 4000.0000, 1, N'ImagePath/92e6679d_da91_4230_95b8_fb259a74c136.jpeg', NULL, NULL, 5, CAST(N'2019-05-31T18:34:22.720' AS DateTime), N'::1', CAST(N'2019-06-06T20:51:54.760' AS DateTime), N'::1', N'036e0921-b983-e911-8267-7c7a91ce4f31')
INSERT [dbo].[ShoppingCarts] ([ID], [AppUserID], [ProductID], [Name], [Price], [Quantity], [PicImage], [ProductColour], [ProductSize], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [ProductDetailID]) VALUES (N'e8e6e738-198a-e911-8267-7c7a91ce4f31', N'e6528c35-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'IPHONE 7', 4000.0000, 1, N'ImagePath/92e6679d_da91_4230_95b8_fb259a74c136.jpeg', NULL, NULL, 5, CAST(N'2019-06-08T21:14:15.477' AS DateTime), N'::1', CAST(N'2019-06-09T18:03:28.793' AS DateTime), N'::1', N'7b587113-b983-e911-8267-7c7a91ce4f31')
INSERT [dbo].[Sizes] ([ID], [ProductSize], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'4957bb00-ec82-e911-8267-7c7a91ce4f31', N'S', 1, CAST(N'2019-05-30T18:02:55.760' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Sizes] ([ID], [ProductSize], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'4a57bb00-ec82-e911-8267-7c7a91ce4f31', N'M', 1, CAST(N'2019-05-30T18:03:00.473' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Sizes] ([ID], [ProductSize], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'257b3e40-ec82-e911-8267-7c7a91ce4f31', N'L', 1, CAST(N'2019-05-30T18:04:42.313' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'fadf6ceb-df82-e911-8267-7c7a91ce4f31', N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'Tişort', NULL, NULL, 5, CAST(N'2019-05-30T16:36:26.050' AS DateTime), N'::1', CAST(N'2019-05-30T16:43:44.960' AS DateTime), N'::1')
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ea5a0651-e082-e911-8267-7c7a91ce4f31', N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'Gömlek', NULL, NULL, 1, CAST(N'2019-05-30T16:39:16.503' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'2635b657-e082-e911-8267-7c7a91ce4f31', N'e21a5f07-dc82-e911-8267-7c7a91ce4f31', N'Elbise', NULL, NULL, 1, CAST(N'2019-05-30T16:39:27.733' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ThirdCategories] ([ID], [SubCategoryID], [ThirdCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'eda03887-e382-e911-8267-7c7a91ce4f31', N'b11cc890-e182-e911-8267-7c7a91ce4f31', N'ANDROİD', NULL, NULL, 5, CAST(N'2019-05-30T17:02:15.920' AS DateTime), N'::1', CAST(N'2019-05-30T17:13:27.150' AS DateTime), N'::1')
INSERT [dbo].[ThirdCategories] ([ID], [SubCategoryID], [ThirdCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5d30098f-e382-e911-8267-7c7a91ce4f31', N'b11cc890-e182-e911-8267-7c7a91ce4f31', N'IOS', NULL, NULL, 1, CAST(N'2019-05-30T17:02:29.040' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ThirdCategories] ([ID], [SubCategoryID], [ThirdCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'8e5229c0-8488-e911-8267-7c7a91ce4f31', N'fadf6ceb-df82-e911-8267-7c7a91ce4f31', N'Hippi', NULL, NULL, 3, CAST(N'2019-06-06T20:58:56.237' AS DateTime), N'::1', CAST(N'2019-06-14T17:13:22.670' AS DateTime), N'::1')
INSERT [dbo].[WishLists] ([ID], [AppUserID], [ProductID], [ProductName], [Price], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ecb2a11d-ed82-e911-8267-7c7a91ce4f31', N'e6528c35-ea82-e911-8267-7c7a91ce4f31', N'9f1fe6ed-eb82-e911-8267-7c7a91ce4f31', N'IPHONE 7', 4000.0000, N'ImagePath/1da5eef0_42a7_4b0a_85b5_37ce1c16d773.jpeg', 3, CAST(N'2019-05-30T18:10:53.730' AS DateTime), N'::1', CAST(N'2019-05-31T18:19:37.963' AS DateTime), N'::1')
INSERT [dbo].[WishLists] ([ID], [AppUserID], [ProductID], [ProductName], [Price], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'291121f5-7f8b-e911-8267-7c7a91ce4f31', N'43834439-e882-e911-8267-7c7a91ce4f31', N'3acd9c5f-c78a-e911-8267-7c7a91ce4f31', N'Jean Ceket', 1000.0000, N'ImagePath/9e9ab08e_36da_43f9_8475_a50fb536e15e.jpeg', 1, CAST(N'2019-06-10T16:02:11.107' AS DateTime), N'::1', NULL, NULL)
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Builds] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Campaings] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Districs] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ImagePaths] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Provinces] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Regions] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Roads] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Shippers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ShoppingCarts] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Sizes] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Streets] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ThirdCategories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[WishLists] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Builds_BuildID] FOREIGN KEY([BuildID])
REFERENCES [dbo].[Builds] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Builds_BuildID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Districs_DistrictID] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districs] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Districs_DistrictID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Provinces_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Provinces_ProvinceID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Regions_RegionToID] FOREIGN KEY([RegionToID])
REFERENCES [dbo].[Regions] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Regions_RegionToID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Roads_RoadID] FOREIGN KEY([RoadID])
REFERENCES [dbo].[Roads] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Roads_RoadID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Streets_StreetID] FOREIGN KEY([StreetID])
REFERENCES [dbo].[Streets] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Streets_StreetID]
GO
ALTER TABLE [dbo].[AppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUsers_dbo.AppUsers_AppUser_ID] FOREIGN KEY([AppUser_ID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[AppUsers] CHECK CONSTRAINT [FK_dbo.AppUsers_dbo.AppUsers_AppUser_ID]
GO
ALTER TABLE [dbo].[BrandCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BrandCategories_dbo.Brands_Brand_ID] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([ID])
GO
ALTER TABLE [dbo].[BrandCategories] CHECK CONSTRAINT [FK_dbo.BrandCategories_dbo.Brands_Brand_ID]
GO
ALTER TABLE [dbo].[BrandCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BrandCategories_dbo.Categories_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[BrandCategories] CHECK CONSTRAINT [FK_dbo.BrandCategories_dbo.Categories_Category_ID]
GO
ALTER TABLE [dbo].[Builds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Builds_dbo.Streets_StreetID] FOREIGN KEY([StreetID])
REFERENCES [dbo].[Streets] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Builds] CHECK CONSTRAINT [FK_dbo.Builds_dbo.Streets_StreetID]
GO
ALTER TABLE [dbo].[Campaings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Campaings_dbo.AppUsers_AppUser_ID] FOREIGN KEY([AppUser_ID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Campaings] CHECK CONSTRAINT [FK_dbo.Campaings_dbo.AppUsers_AppUser_ID]
GO
ALTER TABLE [dbo].[Campaings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Campaings_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Campaings] CHECK CONSTRAINT [FK_dbo.Campaings_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Districs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districs_dbo.Regions_RegionToID] FOREIGN KEY([RegionToID])
REFERENCES [dbo].[Regions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districs] CHECK CONSTRAINT [FK_dbo.Districs_dbo.Regions_RegionToID]
GO
ALTER TABLE [dbo].[ImagePaths]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImagePaths_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ImagePaths] CHECK CONSTRAINT [FK_dbo.ImagePaths_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Builds_BuildID] FOREIGN KEY([BuildID])
REFERENCES [dbo].[Builds] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Builds_BuildID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Districs_DistrictID] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districs] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Districs_DistrictID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Provinces_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Provinces_ProvinceID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Regions_RegionToID] FOREIGN KEY([RegionToID])
REFERENCES [dbo].[Regions] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Regions_RegionToID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Roads_RoadID] FOREIGN KEY([RoadID])
REFERENCES [dbo].[Roads] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Roads_RoadID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Shippers_ShipID] FOREIGN KEY([ShipID])
REFERENCES [dbo].[Shippers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Shippers_ShipID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Streets_StreetID] FOREIGN KEY([StreetID])
REFERENCES [dbo].[Streets] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Streets_StreetID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.Campaings_CampaingID] FOREIGN KEY([CampaingID])
REFERENCES [dbo].[Campaings] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.Campaings_CampaingID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.Colors_ColourID] FOREIGN KEY([ColourID])
REFERENCES [dbo].[Colors] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.Colors_ColourID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.Sizes_SizeToID] FOREIGN KEY([SizeToID])
REFERENCES [dbo].[Sizes] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.Sizes_SizeToID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ThirdCategories_ThirdCategoryID] FOREIGN KEY([ThirdCategoryID])
REFERENCES [dbo].[ThirdCategories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ThirdCategories_ThirdCategoryID]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Regions_dbo.Provinces_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_dbo.Regions_dbo.Provinces_ProvinceID]
GO
ALTER TABLE [dbo].[Roads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Roads_dbo.Districs_DistrictID] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roads] CHECK CONSTRAINT [FK_dbo.Roads_dbo.Districs_DistrictID]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCarts_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_dbo.ShoppingCarts_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCarts_dbo.ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([ID])
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_dbo.ShoppingCarts_dbo.ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCarts_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_dbo.ShoppingCarts_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Streets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Streets_dbo.Roads_RoadID] FOREIGN KEY([RoadID])
REFERENCES [dbo].[Roads] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Streets] CHECK CONSTRAINT [FK_dbo.Streets_dbo.Roads_RoadID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[ThirdCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThirdCategories_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([ID])
GO
ALTER TABLE [dbo].[ThirdCategories] CHECK CONSTRAINT [FK_dbo.ThirdCategories_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID]
GO
