@model District
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <h2>Güncelle</h2>

    @using (Html.BeginForm("Update", "District", FormMethod.Post))
    {
        <label class="form-group">Üst Kategori Adı:</label>
        @Html.DropDownList("RegionID", null, htmlAttributes: new { @class = "form-control" })
        <label class="form-group">İlçe:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <label class="form-group">Posta Numarası:</label>
        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
        <button type="submit" class="btn-success">Güncelle</button>
    }
</div>
