
@{
    Layout = null;
}




<form action="/Home/SendToMail" method="post">    <div class="input-box">        <textarea class="input-text" cols="20" maxlength="1000" required id="MemberMessage" name="MemberMessage" rows="2" style="margin: 0px; width: 368px; resize:none;   height: 111px;" placeholder="Mesaj:"></textarea>    </div>    <br />    <div class="input-box">       <input class="input-text" id="EmailAddress" name="EmailAddress" placeholder="E-mail Adres:" required="required-entry" type="email" validate="email" value=""> </div>            <button type="submit" style="margin:20px 154px;" class="button button-active"> Gönder </button></form>

